#jinja2: trim_blocks:True

{# Build the complete device configuration depending on what is present in the host_vars for the device #}
{# This is grouped into the below: #}
{# - Basic Configuration #}
{# - Interfaces #}
{# - Routing Protocols #}
{# - TBD: Underlay/Overlay, EVPN-VXLAN, VRFs #}
{# Currently this is pushed to the device, but could be saved to a file to be used by ZTP, validation, etc. #}

{% if system is defined %}
{%     include 'eos_system.j2' %}
{% endif %}

{% if interfaces is defined %}
{%     include 'eos_interfaces.j2' %}
{% endif %}

{% if bgp is defined %}
{%     if "external" in bgp.type %}
{%         include 'eos_bgp_external.j2' %}
{%     endif %}
{%     if "leaf" in bgp.type %}
{%         include 'eos_bgp_underlay.j2' %}
{%     endif %}
{%     if "spine" in bgp.type %}
{%         include 'eos_bgp_underlay.j2' %}
{%     endif %}
{% endif %}

{% if static is defined %}
{%     include 'eos_static.j2' %}
{% endif %}

