set system host-name crpd2
set system services ssh sftp-server
set interfaces lo0 unit 0 family iso address 49.0001.0100.1001.0002.00
set routing-options router-id 192.168.0.2
set routing-options autonomous-system 65001
set protocols isis interface all point-to-point
set protocols isis interface all level 2 metric 1000
set protocols isis interface lo passive
set protocols isis interface eth0 disable
set protocols isis level 1 disable
set protocols isis level 2 wide-metrics-only
set protocols isis source-packet-routing
set protocols isis source-packet-routing srgb start-label 1000
set protocols isis source-packet-routing srgb index-range 9000
set protocols isis source-packet-routing node-segment ipv4-index 402
set protocols isis source-packet-routing node-segment ipv6-index 602
set protocols mpls interface all
set protocols bgp group ibgp type internal
set protocols bgp group ibgp local-address 192.168.0.2
set protocols bgp group ibgp family inet unicast
set protocols bgp group ibgp family inet6 unicast
set protocols bgp group ibgp neighbor 192.168.0.4
set protocols bgp group ibgp neighbor 192.168.0.7