# Backup CLAB Files
*.bak

# Directory created by CLAB during deploys 
examples/*/clab-*

# Copyright files / images that you don't want to share
# i.e. the Arista cEOS docker image
images/**
!images/README.md
!images/import-crpd-ceos.sh